
.oth
	{
		    
		background-image: url("../images/index.jpg"); 
 
       
		 background-size:100% 100%;
  
  -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
	}
	
	.contain
	{
	   width: 80%;
	height: auto;
position: relative;
background-color: rgba(255,255,255,0.5);

z-index: 0;
margin-left: auto;
margin-right: auto;
margin-top: 0.5%;
max-width: 85%;
}

@font-face {
font-family: carbon;
font-weight: bolder;
src: url("../fonts/carbon.ttf") format("opentype");
}
.hide
{	
	opacity : 0.2;
	color: rgba(255,255,255,0.5);
}
.redirect
{
  background-image: url("../images/index1.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
}    
.level1
{
  background-image: url("../images/level1.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
}    

.level2
{
  background-image: url("../images/level2.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
}   
.level3
{
  background-image: url("../images/level3.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
}     
.level4
{
  background-image: url("../images/level4.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level5
{
  background-image: url("../images/leveltunnel.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level6
{
  background-image: url("../images/leveltunnel.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level7
{
  background-image: url("../images/leveltunnel.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level8
{
  background-image: url("../images/level8.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level9
{
  background-image: url("../images/level9.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level10
{
  background-image: url("../images/level10.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level11
{
  background-image: url("../images/level11.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}

.level12
{
  background-image: url("../images/level12.jpg"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}


.level13
{
  background-image: url("../images/level13.png"); 
         
		 background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.level14
{
  background-image: url("../images/level14.jpg"); 
	background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
    
}
.final
{
	background-image: url("../images/final.jpg"); 
	background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-repeat:no-repeat;
	position:relative;
}
.image {
 display: table; /* shrink wrap the contents */
 margin: auto; /* center via left/right margins */
 
}

.image {
 display: table; /* shrink wrap the contents */
 margin: auto; /* center via left/right margins */
 
}

	
.leveldetails
{
  width:auto;
  height:6%;
  padding-top: 4%;
}	
.detailbox
{
   width:13%;
   height:100%;
   background-color: #000000;
   border: solid 1px #ffffff;
   position: relative;
    
   float: left;
   text-align: center;
   
 }
.levelcontain
{
	width: 80%;
	height: auto;
    background-color: rgba(255,255,255,0.5);
z-index: 0;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.levelcontainm
{
	width: 50%;
	height: auto;
    background-color: rgba(255,255,255,0.5);
z-index: 0;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.levelcontainl
{
	width: 80%;
	height: auto;
    background-color: rgba(255,255,255,0.5);
z-index: 0;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.levelcontainr
{
	width: 80%;
	height: auto;
    background-color: rgba(255,255,255,0.5);
z-index: 0;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
}
.inputstyle
{
width:370px;
height:30px;
}
.submitstyle
{
width:132px;
height:40px;
font-family: 'carbon';
border: 1px solid #b7cef9;
border-radius:10px;
background: #000000;
padding: 5px 0;
text-align:center;
color: #fff;
font-size: 23px;

}

.submitstyle:hover{
cursor:pointer;

}
.progressbutton
		{
			width:132px;
			height:43px;
			font-family:'carbon';
			border: 1px solid #b7cef9;
			cursor:pointer;
			background: #000000;
			padding: 5px 0;
			text-align:center;
			color: #fff;
			font-size: 21px;
	
		}
        .progressbutton:hover { -moz-box-shadow: 0 0 20px #ccc; -webkit-box-shadow: 0 0 20px #ccc; box-shadow: 0 0 20px #ccc;cursor:pointer; } 

		 #element_to_pop_up { 
    background-color:#fff;
	width:10%;
    font-size:20px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
*
{
margin:0;
padding:0;

}

.para
{
font-family: 'carbon'; 
font-size: 24px; 
margin-top:50px;	
}       	